doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // SEO
    title= title
    meta(name='description', content='I am Phuc Bui. People also call me Johnny. I am a Software Engineer.')
    meta(name='robots', content='index, follow')
    meta(name='referrer', content='always')
    // Styles
    link(rel='stylesheet', href='./style.css', type='text/css', media='screen')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='icon', type='image/png', href='images/favicon.png' sizes='32x32')
  body#fullsingle.page-template-page-fullsingle-me.me-video
    block content